<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <style>
        #box {
            background-color: aquamarine;
            border: 1px solid black;
            border-radius: 10px;
            width: 400px;
            height: 200px;
            margin-left: 400px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="box">
        <h2>Simple Weather App</h2>
        <input type="text" id="city" placeholder="Enter City">
        <button onclick="getWeather()">Check Weather</button>

        <p id="result"></p>
    </div>


    <script>
        async function getWeather(){
            const city = document.getElementById("city").value;
            const response = await fetch(`https://fastapi-weather-app-uqg7.onrender.com/weather/${city}`);
            const data = await response.json();

            document.getElementById("result").innerText = `City: ${data.city}\nTemprature: ${data.Temprature} °C\nWeather: ${data.Weather}`;
        }
    </script>
</body>
</html>